@media(hover: hover) and (pointer: fine)
  .user__options__item
    &:hover
      background: #FFFADE
      border-radius: 4px
  .user__form__button
    &:hover
      background: #dadada
      color: #000000
  .add__button
    &:hover
      background: #eeecec
      color: #FA6400
  .user__select__card
    &:hover
      border-color: #FFC542
  .header a:hover
    background: linear-gradient(45deg,  #000000  0%, #FA6400 50%, #000000 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    color: #000000
    transition: all 0.2s
  .footer a:hover
    background: linear-gradient(90deg, #fa7900  0%, #f8c24d 50%, )
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    color: #ffffff
    transition: all 0.2s
