.header
  border-bottom:
  &__top
    min-height: 40px
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-around
    font-family: Montserrat
    font-style: normal
    font-weight: 500
    font-size: 13px
    line-height: 16px
    &__application
      display: flex
      align-items: center
      &-link
        display: inline-flex
        align-items: center
      &-image
        margin-left: 5px
        margin-right: 5px
    &__navigation
      margin-right: auto
      margin-left: 51px
      display: flex
      &-link
        margin-left: 8px
        margin-right: 8px
    &__user
      &-info
        display: flex
        align-items: center
      &-block
        display: flex
        align-items: center
        min-width: 87px
        justify-content: space-between
        & a
          cursor: pointer
      &-sum
        margin-right: 24px
    &__line
      height: 1px
      background: #DFE1E5
      opacity: 0.7
  &__bottom
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    min-height: 70px
    &__input
      position: relative
      margin-left: 13px
      margin-right: auto
      &-search
        padding-left: 33px
        width: 360px
        height: 36px
        &-image
          position: absolute
          left: 10px
          top: 10px

    &__nav
      position: relative
      &-link
        font-family: 'Montserrat'
        font-style: normal
        font-weight: bold
        font-size: 13px
        line-height: 16px
        letter-spacing: 0.08em
        text-transform: uppercase
        margin-left: 11px
      &-upcash
        position: absolute
        right: 0px
        top: -14px
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 500
        font-size: 11px
        line-height: 13px
        text-align: right
        color: #FA6400
.add
  min-height: 40px
  background: rgba(249,250,252, 0.5)
  &-container
    display: flex
    flex-wrap: wrap
    flex-direction: row
    align-items: center

  &__image
    margin-left: 125px
  &__text
    font-style: normal
    font-weight: 500
    font-size: 11px
    line-height: 16px
    margin-left: -33px
    margin-right: 103px
    &-top
      display: block
      margin-bottom: 2px
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 19px
      color: #1B1D25
    &-bottom
  &__decline
    margin-left: auto
    margin-right: 0
    cursor: pointer
