.user
  &__lastpayments
    padding: 24px 32px 20px 32px
    border: 1px solid #DFE1E5
    border-radius: 4px
    &__title
      margin-top: 0
      margin-bottom: 16px
      &-list
        display: flex
        align-items: center
        justify-content: space-between
        list-style: none
        font-style: normal
        font-weight: bold
        font-size: 11px
        line-height: 13px
        letter-spacing: 0.08em
        text-transform: uppercase
        color: #1B1D25
        margin: 0
        padding: 5px
        border-bottom: 1px solid #DFE1E5
      &-item
        position: relative
        display: flex
        align-items: center
        justify-content: space-between
        list-style: none
        padding-left: 0
        font-style: normal
        font-weight: 500
        font-size: 12px
        line-height: 28px
        color: #76777C
        &_status
          position: absolute
          left: 60%
          display: flex
          &-img
            margin-right: 5px
        &_card
          &-number
            margin-left: 8px
            margin-right: 8px
        &_date
          position: absolute
          left: 30%
    &__button
      width: 796px
      height: 40px
      border: 1px solid #DFE1E5
      border-radius: 4px
      font-style: normal
      font-weight: 500
      font-size: 14px
      line-height: 21px
      color: #1B1D25
      background: #ffffff
      margin: auto
      outline: none
      transition: all .3s ease
      &:hover
        color: #ffffff
        background: #d1d1d1
