.user
  &__select
    border: 1px solid #DFE1E5
    border-radius: 4px
    padding: 32px 0 34px 32px
    margin-bottom: 24px
    &__title
      margin-top: 0
      margin-bottom: 16px
    &__cards
      display: flex
      flex-direction: row
      flex-wrap: wrap
      margin-bottom: 32px

    &__card
      display: flex
      align-items: center
      min-height: 98px
      min-width: 320px
      border: 1px solid #DFE1E5
      border-radius: 4px
      margin-right: 16px
      cursor: pointer

  &__cards
    display: flex
    flex-direction: column
    & img:first-child
      margin-right: 10px
    &-bank
      font-style: normal
      font-weight: bold
      font-size: 14px
      line-height: 21px
      margin-top: 7px
    &-name
      font-style: normal
      font-weight: 500
      font-size: 12px
      line-height: 19px
    &  span
      display: flex
    &-checkbox
      margin-left: 16px
      margin-right: 16px

@media  ( max-width: 1100px )
  .user
    &__select
      &__card
        min-height: 98px
        min-width: 285px
        padding: 10px
        margin-right: 16px
        margin-bottom: 20px

@media  ( max-width: 700px )
  .user
    &__select
      padding-left: 10px
      padding-right: 10px
      &__card
        min-height: 125px
        margin: 10px auto
      &__title
        max-width: 330px
        margin: auto

@media  ( max-width: 400px )
  .user
    &__select
      &__title
        font-size: 18px
        max-width: 250px

@media  ( max-width: 370px )
  .user
    &__select
      &__card
        min-width: 90%
        max-width: 90%
